/*agregar font family @import url*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, arial;
}

body {
	background: black url('css/images/fondo.jpg');
	/* background-size= cover > cubre todo el ancho del body*/
	/*background-repeat: repeat; para mosaico*/
	background-size: cover; 
}

.contenedor{
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

header{
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center; 
}

header .menu_h{
	display: none;
	background:none;
	line-height:45px;
	padding:5px 15px 0px 15px;
	color:#999;
	border:0;
  	font-size:1.4em;
  	font-weight:bold;
  	cursor:pointer;
  	outline:none;
  	z-index:10000;
}

header .menu_mobile{
	display:none;
}

header .menu a{
	color: black;
	text-decoration: none;
	font-size: 18px;
	margin-right: 40px;
}

header .menu a:hover{
	font-weight: 700;
}

header .menu a:acive{
	font-weight: 700;
}


/***** main *****/

.main{
	width: 70%;
	background: #FA9292;
	padding: 20px;
}

.main article .thumb{
	margin-bottom: 20px;
}

.main article .thumb img{
	width: 100%;
}

h2{
	margin-bottom: 20px;
}

.main article p{
	text-align: justify;
	margin-bottom: 20px;
}

/*** aside***/

aside{
	width: 30%;
	background-color: #2E7D86;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

aside .ad{
	text-align: center;
	color: #fff;
	font-size: 30px;
	background: grey;
	margin: 20px 20px;
	padding: 50px 0;
}

/**** Footer ***/

footer{
	width: 100%;
	background:#fff;
	padding: 20px;
	color: black;
	font-size: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

footer .redes-sociales a{
	color: black;
	text-decoration: underline;
	margin-right: 20px;
	margin-left: 20px;
}

footer .redes-sociales a:hover{
	text-decoration: none;
}


/** MEDIA QUERIES ***/

@media screen and (max-width: 800px){
	.main{
		width: 100%;

	}
	aside{
		width: 100%;
		flex-direction: row;
	}
	aside .ad{
		width: 40%;
	}
}

@media screen and (max-width: 600px){
	header{
		flex-direction: column;
		padding-bottom: 20px;
	}
	.menu_h{
		display: none;
	}
	footer{
		flex-direction: column;
		text-align: center;
	}
}

/*@media screen and (max-width: 400px){
	.menu {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}	
	.menu a{
		padding: 5px; 
	}

	footer .autor{
		padding-bottom: 10px;
	}
}
*/

@media screen and (max-width: 425px) {
	
	header{
		position: fixed;
		width: 90%; 
		display: flex;
		z-index: 10000;
	}
	
	header .logo{
		justify-content: flex-start;
	}

	header .menu_h{
		display: flex;
		justify-content: flex-end;
		color: black;
		font-weight: bold;
		z-index: 100000;
	}

	header .menu_mobile{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	header .menu_mobile a{
		text-decoration: none;
		color: black;
		padding: 5px;
	}

	header .menu{
		display: none;
	}

	section{
		margin-top: 100px;
	}
}